/*=============
    Slider
=================*/

#slider div {
    display: inline-block;
}

#slider #viewer2 {
    background-color: black;
    border: 10px ridge blue;
}

#slider #right, #left {
    width: 30px;
    height: 100px;
    float: left;
    color: white;
}

#slider #right {
    float: right;
}

    #slider #right img,
    #slider #left img {
        margin-top: 30px;
        width: 32px;
        height: 56px;
    }

#slider #selector {
    max-width: 1000px;
    height: 140px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #DDDDDD;
    border: 3px ridge grey;
}

#slider #imageSlide {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100px;
}

    #slider #imageSlide img {
        height: 100px;
        opacity: .7;
        vertical-align: top;
        margin: 10px;
        border: 3px ridge grey;
        box-shadow: 5px 5px 5px #888888;
    }

#slider #photo {
    height: 500px;
    width: 700px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

    #slider #photo img {
        border: 5px ridge grey;
        box-shadow: 10px 10px 5px darkgrey;
    }


@media only screen and (max-width: 1115px) {
    #slider #selector {
        max-width: 620px;
        height: 140px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #DDDDDD;
        border: 3px ridge grey;
    }
}



@media only screen and (max-width: 760px) {
    #slider #selector {
        max-width: 450px;
        height: 140px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #DDDDDD;
        border: 3px ridge grey;
    }
}



@media only screen and (max-width: 450px) {
    #slider #selector {
        max-width: 200px;
        height: 140px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #DDDDDD;
        border: 3px ridge grey;
    }
}
